<<<<<<< Updated upstream

<h1> Index </h1>
=======
<h1>Track List</h1>
>>>>>>> Stashed changes





<ul>
<% @items.each do |item| %>
  <li>
    <%=item.name %>
    <%=item.price %>
  </li>
  <% end %>
</ul>

<%= link_to('Create a new item', new_item_path) %>
